ctc_segmentation
deepfilternet
joblib==1.2.0
natsort==8.2.0
nemo==4.5.5
nemo_text_processing
nemo_toolkit
num2words==0.5.12
numpy==1.23.2
openai_whisper==20230314
pandas==1.4.3
pyannote.core
pyannote.audio
pydub==0.25.1
regex==2022.10.31
scipy==1.10.1
torch==1.11.0
tqdm==4.64.1
whisper==1.1.10
yt_dlp==2023.3.4
